# Sample Environment variables used across the project
# all Values are filled based on default values in the code

JIRA_INSTANCE=""
JIRA_USERNAME=""
JIRA_TOKEN=""

DEFAULT_BOT_CONFIG={}

APP_ID=""
PRIVATE_KEY=""
PRIVATE_KEY_PATH=./private_key.pem

REDIS_HOST=""
REDIS_PORT=""

WEBHOOK_SECRET=some-valid-secret-you-place
BOT_NAME=your-bot

SYNC_BOT_LOGFILE=sync_bot.log

